{{link-to 'About' 'about'}}

<h2>What's for sale?</h2>
<div class="shelf">
  {{#each items as |item|}}
    {{shelf-item item=item cartItems=cartItems}}
  {{/each}}
</div>

<h2>Your Cart</h2>

<div class="cart">
  {{#each cartItems as |item|}}
    <div>
      {{item.name}}: ${{item.cost}}
    </div>
  {{/each}}
  <hr>
  <div>Total: {{totalCost}}</div>
</div>
